{% extends 'base.html' %}

{% block title %}Page Not Found{% endblock title %}

{% block notfound %}

    <div class="alert alert-warning text-center w-100 p-3 h-100 " role="alert">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h4 class="alert-heading">Page Not Found</h4>
        <hr>
        <h1><strong>404</strong></h1>
        <hr>
        <p class="mb-0">Take me back to <a href="/"><strong>HOME</strong></a></p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>

{% endblock %}
